@import url("./tokens.css");

/* General Styles*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-base);
}

header {
  display: flex;
  background: var(--gradient);
  padding: var(--space-sm) var(--space-lg);
  justify-content: space-between;
}

.logotipo {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--text-muted);
  font-size: var(--font-size-lg);
}

.toggle {
  align-content: center;
}

.theme-btn {
  font-size: var(--font-size-lg);
  border-radius: 50%;
  padding: 0.3rem;
  border: 5px var(--text-muted) solid;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: var(--font-size-xxlg);
  margin: var(--space-lg) 0;
}

form {
  text-align: center;
  margin: var(--space-lg);
}

#input {
  padding: var(--space-xs);
  font-size: var(--font-size-lg);
  border-radius: var(--space-sm);
}

.add {
  margin: var(--space-xs);
  padding: var(--space-xs);
  font-size: var(--font-size-lg);
  border-radius: var(--space-sm);
  background-color: var(--surface);
  border: 3px solid var(--brand);
  cursor: pointer;
}

.add:hover {
  background-color: var(--brand-hover);
  color: var(--text-muted);
  border: 3px solid var(--brand-hover);
}

.list-taks {
  margin: var(--space-lg);
  font-size: var(--font-size-lg);
}

ul {
  list-style-type: none;
}

li {
  border: 3px solid var(--brand);
  border-radius: var(--space-sm);
  margin: var(--space-xs);
  padding: var(--space-xs);
  background-color: var(--surface);
  color: var(--text-black);
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input {
  margin: 0 var(--space-xs);
}

.acciones {
  display: flex;
  gap: 10px;
}

li button {
  padding: var(--space-xs);
  font-size: var(--font-size-base);
  border-radius: var(--space-sm);
  background-color: var(--surface);
  border: 3px solid var(--brand);
  display: flex;
  align-items: center;
  cursor: pointer;
}

li button:hover {
  background-color: var(--brand-hover);
  color: var(--text-muted);
  border: 3px solid var(--brand-hover);
}

.completada {
  text-decoration: line-through;
  color: var(--brand-hover);
}
